.DS_Store

*.o
*.Po
*.Plo
*.pc
*~
*.d

server/pep-json-server
server/servertest
server/unittests
server/*.a
server/prefix-config.cc
server/local.conf
server/*.d
server/json_spirit/*.d

build/

*.vcxproj.user
*.obj
*.exe
*.lib
build-windows/libevent/Release/*
build-windows/libevent/Debug/*
build-windows/pEpJSONServerAdapter/Release/*
build-windows/pEpJSONServerAdapter/Debug/*
build-windows/pEp/libpEpwebserver/Release/*
build-windows/pEp/libpEpwebserver/Debug/*
build-windows/pEp/libpEpwebserver/.vs/
build-windows/pEp/libpEpwebserver/x64/
build-windows/pEpJSONServerAdapter/x64/

server/pEp-mini-json-adapter

*.d.*
.??*.swp
tags
