# This is an Example build config file (local.conf)
# The example values reflect the defaults.
# Rename this file to local.conf and tweak the values to your needs,
# if you need to override anything. (Most likely PREFIX)

# Toolchain
# ---------
# Should work with `g++` and `clang`
# CXX=

# You might use /usr/bin/ar on MacOS explicitly if you have GNU ar installed via HomeBrew,
# because it is installed in /usr/local/bin and therefore used by default.
# AR=ar

# DIRS
# ----
# PREFIX=$(HOME)/local

# pEp Dependencies
# PEP_INC_PATH=$(PREFIX)/include
# PEP_LIB_PATH=$(PREFIX)/lib

# System Dependencies
# SYS_INC_PATH=/usr/local/include
# SYS_LIB_PATH=/usr/local/lib

# Additional Options
# ------------------
# DEBUG=1       # DEBUG Build (Default)
# DEBUG=0       # RELEASE Build

# Static/Dynamic Linkage
# for a dynamically linked binary (for development) leave this empty.
# If you are using clang, use "-static", but that will fail if you did not compile a static
# version of libcrt0 and libc[++] yourself.
# LDFLAGS+=

# Building BOOST yourself, the artefact names are not postfixed by default
# E.g. lib is named "libboost_regex.a", not "libboost_regex-mt.a".
# Set to empty string if this is the case for you.
# BOOST_MT="-mt"
